{% extends 'blog/base.html' %}
{% load markdown_deux_tags %}

{% block content %}

<div class="container recipe">
    {% if m.image %}
      <img class="img_producto img-fluid mx-auto d-block" alt="Responsive image" src=" {{ m.imagen_portada.url }} ">
    {% endif %}
    <h1 class="titulo_principal">{{ m.nombre }}</h1>
    <p class="text-justify sinopsis">{{ m.descripcion|linebreaksbr |markdown }}</p>
    <p class="text-justify sinopsis">Autor: {{ m.autor }}</p>
    <p class="text-justify sinopsis">Genero: {{ m.genero }}</p>
    <p class="text-justify sinopsis">Capitulos: {{ m.capitulos }}</p>
    <p class="text-justify sinopsis">{{ m.fecha_inicio }} - {{ m.fecha_fin }}</p><br>
    <button type="button" class="btn btn_download btn-danger btn-lg mx-auto d-block"><a class="boton" target="_blank" href=" {{ m.link }} ">Download</a></button>
    <p class="text-right sinopsis date">Published: {{ m.fecha_publicacion }} </p>
    <br>
</div>

<div id="disqus_thread" class="container"></div>
<script>
  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document,
      s = d.createElement('script');
    s.src = 'https://http-supergogeta-pythonanywhere-com.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


{% endblock %}
