{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <link rel="stylesheet" href="{% static 'css/producto_detail.css' %}">

    </script>

    <title>Anime y Manga</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg_dark">
      <a class="navbar-brand" href="{% url 'principal' %}">
        <img src="{{ 'media/img/logo_blanco.png' }}" width="30" height="30" class="d-inline-block align-top" alt="">
        Anime & Manga</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'animes' %}">Anime</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mangas'  %}">Manga</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" disabled>Ayuda y Soporte</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="GET"  action="">
          <input class="form-control mr-sm-2" name="q" value="{{ request.GET.q }}" type="search" placeholder="¿Que buscas perro?" aria-label="Search">
          <button class="btn btn-outline bg-orange my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="container-fluid py-5" style="background-color: #233142;">
      <div class="row">
        <div class="col-12 col-md">
          <img src="{{'media/img/logo_blanco.png' }}" class="img-fluid mx-auto d-block" alt="Responsive image" style="max-height: 150px;">
          <small class="d-block mb-3 text-muted text-center">&copy; 2018-2019</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted">Sin acortadores (por ahora)</a></li>
            <li><a class="text-muted">Diseño bonito</a></li>
            <li><a class="text-muted">Botones internacionales</a></li>
            <li><a class="text-muted">The best team</a></li>
            <li><a class="text-muted">No se que mas poner</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted">Python</a></li>
            <li><a class="text-muted">Django</a></li>
            <li><a class="text-muted">Mega</a></li>
            <li><a class="text-muted">Mediafire</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted text-justify">Un grupo de estudiantes universitarios descuidando los parciales por hacer esto.</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Team</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted">Vicepresidente Junior: Mr. Torres</a></li>
            <li><a class="text-muted">CEO Mr. Smitt</a></li>
            <li><a class="text-muted">Jansy, solo jansy</a></li>
            <li><a class="text-muted">Random 1</a></li>
          </ul>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
