.nav-item{
  margin-left: 3rem;
}

.bg_dark{
  background-color: #233142;
}

.bg-orange{
  background-color: #facf5a;
}

.foot{
  background-color: #facf5a;
  color: red;
}

.logo_foot{
  height: 70%;
}

.div_logo{
  height: 50px;
}
