.img_producto{
  max-height: 600px;
  margin: auto;
  margin-bottom: 3rem;
}

.titulo_principal{
  color: #f95959;
}

.sinopsis{
  color: beige;
}

.btn_download{
  background-color: #facf5a;
  border-radius: 25px;
  border-color: #facf5a;
}

.boton{
  color: white;
}
